node_modules
.pnp
.pnp.js
.yarn/install-state.gz
coverage
.next/
out/
build
.DS_Store
*.pem
*.key
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml
.env*.local
.env
!.env.example
.vercel
*.tsbuildinfo
next-env.d.ts
.idea/
.vscode/
*.swp
*.swo
dist/
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map
public/fallback-*.js
public/fallback-*.js.map
